@model Asc_Time_Tracker.Pages.Home.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<address>
    ASC Machine Tools Inc.<br />
    900 N. Fancher Road<br />
    Spokane, Wash. 99211<br />
</address>

<address>
    <strong>Report any issues with the time tracker:</strong>   <a href="mailto:pton@ascmt.com">pton@ascmt.com</a><br />
</address>

<p>Copyright 2021 - Phi Ton</p>