@model IEnumerable<TimeLog>
<!-- Filler text to show for no timelogs.-->
@if (!Model.Any())
{
    <div class="text-center">
        <small class="text-muted">
            No time logs were found for this date range.
        </small>
    </div>
}
else
{
    foreach (var item in Model.Reverse())
    {
        <strong class="log-job">
            @Html.DisplayFor(modelItem => item.JobNum)
        </strong>
    }

}