@using ChartJSCore.Models
@model IEnumerable<TimeLog>
<!-- Filler text to show for no time logs.-->
@if (!Model.Any())
{
    <div class="text-center">
        <small class="text-muted">
            No time logs were found for this date range.
        </small>
    </div>
}
else
{
    <div class="col-6">
        <canvas id="timeSpentChart"></canvas>
    </div>

}

@{
    // Workaround for getting scripts in partial view - if controller returns
    // a valid chart in the ViewData, we draw it.
    Chart chart = (Chart)ViewData["TimeSpentChart"];

    if (chart != null)
    {
        <script>
            @Html.Raw(chart.CreateChartCode("timeSpentChart"))
        </script>

    }
}