@using ChartJSCore.Models
@model IEnumerable<TimeLog>
<!-- Filler text to show for no time logs.-->
@if (!Model.Any())
{
    <div class="text-center">
        <small class="text-muted">
            No time logs were found for this date range.
        </small>
    </div>
}
else
{
    foreach (var item in Model.Reverse())
    {
        <strong class="log-job">
            @Html.DisplayFor(modelItem => item.JobNum)
        </strong>
    }
}

<h5 class="card-title">Bar Chart</h5>
<canvas id="barChart" width="200" height="200"></canvas>

@{
    // Workaround for getting scripts in partial view - if controller returns
    // a valid chart in the ViewData, we draw it.
    Chart chart = (Chart)ViewData["BarChart"];
    if (chart != null)
    {
        <script>
            @Html.Raw(chart.CreateChartCode("barChart"))
        </script>

    }
}