@model IndexViewModel
<!-- Time log list and stats partial view -->
<div class="partial-header px-0 my-3">
    Logs
</div>

<div id="mainLogs">
    <!-- Card filters and export. -->
    <div class="card main-log-card-header shadow">
        <div class="col">
            <div class="row">
                <!-- Select which date picker to use. -->
                <div class="col-12 col-md-6 col-xl-8">
                    <div class="input-group d-inline-flex align-items-center w-auto">
                        <label class="input-group-text" for="dateOption">Time frame</label>
                        <select id="dateOption" class="form-select me-2">
                            <option>Day</option>
                            <option>Week</option>
                            <option>Month</option>
                            <option>All</option>
                            <option>Custom range</option>
                        </select>
                    </div>

                    <!-- Date pickers -->
                    <div class="input-group d-inline-flex align-items-center
                             flex-nowrap w-auto mt-2 mt-xl-0">
                        <button type="button" class="btn date-prev shadow-none">
                            <i class="fas fa-arrow-left"></i>
                        </button>

                        <input type="text"
                               class="form-control date-picker day-picker text-center">
                        <input type="text"
                               class="form-control date-picker week-picker text-center">
                        <input type="text"
                               class="form-control date-picker month-picker text-center">
                        <div id="dateRangePicker" class="input-group input-daterange">
                            <input type="text" class="form-control range-picker-start text-center">
                            <div class="input-group-text">to</div>
                            <input type="text" class="form-control ranger-picker-end text-center">
                        </div>

                        <!-- Date picker containers (slightly off, but eh, might fix later) -->
                        <div id="dayContainer"></div>
                        <div id="weekContainer"></div>
                        <div id="monthContainer"></div>
                        <div id="rangeStartContainer"></div>
                        <div id="rangeEndContainer"></div>

                        <button type="button" class="btn date-next shadow-none">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4 mt-2 mt-sm-0">
                    <div class="float-md-end text-right mt-2 mt-md-0">
                        <button class="btn btn-secondary"
                                type="button"
                                data-bs-toggle="collapse" data-bs-target="#filters"
                                aria-expanded="false" aria-controls="filters">
                            More Filters
                        </button>
                        <button class="btn btn-primary">
                            <i class="bi bi-download"></i>
                            Export Logs
                        </button>
                    </div>
                </div>
            </div>

            <div class="collapse" id="filters">
                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <form id="empIdFilterForm"
                          class="input-group my-2">
                        <span class="input-group-text">User ID</span>
                        <input id="empIdFilter"
                               type="text"
                               class="form-control"
                               value="@User.Identity.Name"
                               placeholder="Enter an email to filter (user & user@ascmt.com both work)" />
                        <button class="btn btn-secondary" type="submit">Search</button>
                    </form>
                }
                else
                {
                    <form id="empIdFilterForm">
                        <input id="empIdFilter"
                               type="hidden"
                               value="@User.Identity.Name" />
                    </form>
                }

                <div class="row mt-2">
                    <!-- Select which fields to filter by. -->
                    <div class="input-group d-inline-flex align-items-center">
                        <label class="input-group-text" for="fieldOption">Filter by</label>
                        <select id="fieldOption" class="form-select">
                            <option>Job number</option>
                            <option>Notes</option>
                            <option>Research and design</option>
                        </select>

                        <!-- Search fields. -->
                        <input type="text"
                               class="form-control job-number-picker">
                        <input type="text"
                               class="form-control notes-picker">
                        <div class="form-check">
                            <input type="checkbox"
                                   class="form-check-input rd-picker ms-1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <!-- Logs display -->
            <div class="col-lg-6 p-0 ps-lg-0">
                <div class="card main-log-card shadow py-2">
                    <div id="indexLogsView" class="card-body scroll">
                        @await Html.PartialAsync("_IndexLogs", Model.TimeLogs)
                    </div>
                </div>
            </div>

            <!-- Stats display -->
            <div class="col-lg-6 p-0 pe-lg-0 ps-lg-4
             mt-3 mt-lg-0">
                <div class="card main-log-card shadow py-2">
                    <div id="indexStatsView" class="card-body">
                        @await Html.PartialAsync("_IndexStats", Model.TimeLogs)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>