@model IndexViewModel
<!-- Time log list and stats partial view -->
<div class="partial-header px-0 my-3">
    Logs
</div>

<div id="mainLogs">
    <!-- Card filters and export. -->
    <div id="logFiltersCard"
         class="card main-log-card-header shadow">
        <div class="col">
            <div class="row">
                <!-- Select which date picker to use. -->
                <div class="col-12 col-md-6 col-xl-8">
                    <div class="input-group d-inline-flex align-items-center w-auto">
                        <label class="input-group-text" for="dateOption">Time frame</label>
                        <select id="dateOption" class="form-select me-2">
                            <option>Day</option>
                            <option>Week</option>
                            <option>Month</option>
                            <option>All</option>
                            <option>Custom range</option>
                        </select>
                    </div>

                    <!-- Date pickers -->
                    <div class="input-group d-inline-flex align-items-center
                             flex-nowrap w-auto mt-2 mt-xl-0">
                        <button type="button" class="btn date-prev shadow-none">
                            <i class="fas fa-arrow-left"></i>
                        </button>

                        <input type="text"
                               class="form-control date-picker day-picker text-center">
                        <input type="text"
                               class="form-control date-picker week-picker text-center">
                        <input type="text"
                               class="form-control date-picker month-picker text-center">
                        <div id="dateRangePicker" class="input-group input-daterange mt-2 mt-xxl-0">
                            <input type="text" class="form-control range-picker-start text-center">
                            <div class="input-group-text">to</div>
                            <input type="text" class="form-control ranger-picker-end text-center">
                        </div>

                        <!-- Date picker containers (slightly off, but eh, might fix later) -->
                        <div id="dayContainer"></div>
                        <div id="weekContainer"></div>
                        <div id="monthContainer"></div>
                        <div id="rangeStartContainer"></div>
                        <div id="rangeEndContainer"></div>

                        <button type="button" class="btn date-next shadow-none">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4 mt-2 mt-sm-0">
                    <div class="float-md-end text-right mt-2 mt-md-0">
                        <button class="btn btn-secondary"
                                type="button"
                                data-bs-toggle="collapse" data-bs-target="#filters"
                                aria-expanded="false" aria-controls="filters">
                            More Filters
                        </button>

                        <!-- Export logs form & filters -->
                        <form id="exportLogs"
                              asp-action="Export"
                              class="d-inline">
                            <input id="empIdsExport" name="empIds" type="hidden" />
                            <input id="startDateExport" name="startDate" type="hidden" />
                            <input id="endDateExport" name="endDate" type="hidden" />
                            <input id="categoryExport" name="category" type="hidden" />
                            <input id="jobNumExport" name="jobNum" type="hidden" />
                            <input id="notesExport" name="notes" type="hidden" />
                            <input id="rdExport" name="rd" type="hidden" />

                            <button type="submit"
                                    class="btn btn-outline-secondary">
                                <i class="bi bi-download"></i>
                                Export Logs
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Additional filters. -->
            <div id="filters" class="collapse">
                <form id="logFilters" class="row gy-3 gx-4 mt-4 align-items-center">
                    <hr class="my-2" />

                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text">User ID</span>
                            <input id="empIdFilter"
                                   type="text"
                                   class="form-control"
                                   value="@User.Identity.Name"
                                   placeholder="Enter an email to filter by" />
                        </div>
                        <div id="idHelp" class="form-text">
                            Examples: <i>all</i>, <i>user</i>, or <i>"user1, user2"</i>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group">
                            <span class="input-group-text">Category</span>
                            <select id="categoriesFilter"
                                    asp-items="@Model.Categories"
                                    class="form-select"
                                    aria-label="Select log category to filter for">
                                <option selected="selected">All</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group">
                            <span class="input-group-text">Job number</span>
                            <input id="jobNumFilter" type="text"
                                   class="form-control job-number-picker">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group">
                            <span class="input-group-text">Notes</span>
                            <input id="notesFilter" type="text"
                                   class="form-control notes-picker">
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-check">
                            <label class="form-check-label" for="researchCheck">
                                Research and design (leave unchecked for all)
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="researchCheck">
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="reset"
                                class="btn btn-secondary">
                            Reset Filters
                        </button>
                        <button type="submit"
                                class="btn btn-primary">
                            Apply Filters
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="logBodyCards" class="col">
        <div class="row">
            <!-- Logs display -->
            <div class="col-lg-6">
                <div class="card main-log-card shadow py-2">
                    <div id="indexLogsView" class="card-body scroll">
                    </div>
                </div>
            </div>

            <!-- Stats display -->
            <div class="col-lg-6 ps-lg-4
             mt-3 mt-lg-0">
                <div class="card main-log-card shadow py-2">
                    <div id="indexStatsView" class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>