<div id="timer_@ViewData["TimerId"]"
     class="card timer-card col-xs-4 border-dark shadow">

    <!-- Hidden timer id -->
    <input class="timer-value" type="hidden" value="@ViewData["TimerId"]" />

    <div class="card-body text-center p-2">
        <div class="col timer-header-col">
            <div class="row mx-auto justify-content-end">
                <button type="button" class="btn-close timer-close"></button>
            </div>
            <div class="row mx-auto mb-2">
                <span id="TimeLog_Notes_Display"
                      class="timer-field"></span>
                <strong id="TimeLog_JobNum_Display"></strong>
                <div id="jobTimeCollapse">
                    <div id="timerCurrTime" class="time-display">
                        00:00:00
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-toolbar justify-content-center">

            <button id="startBtn" type="button"
                    class="btn btn-primary btn-lg mx-1
                    timer-function-btn start-timer-btn"
                    aria-expanded="true"
                    aria-controls="jobTimeCollapse">
                Start <!-- TODO: make first button start with notes -->
            </button>

            <button id="stopBtn" type="button" class="btn btn-secondary btn-lg mx-1"
                    onclick="jobTimer.stop()" style="display: none;">
                Pause
            </button>

            <button id="saveBtn" type="button" class="btn btn-primary btn-lg mx-1"
                    onclick="jobTimer.save()" style="display: none;">
                Save
            </button>

            <!--
            <button id="deleteBtn" type="button" class="btn btn-danger btn-lg mx-1"
                    onclick="jobTimer.delete()"
                    aria-expanded="false" aria-controls="jobTimeCollapse">
                Delete
            </button> -->
        </div>

        <!-- Only show QR code scanner on mobile (Disable for now)
        <div class="col d-md-none justify-content-center my-2 p-0">
            <button id="scannerBtn" type="button" class="btn btn-primary btn-lg"
                    onclick="toggleScanner()">
                Start with QR code
            </button>
        </div>
        -->
    </div>
</div>