@using ChartJSCore.Models
@model IEnumerable<TimeLog>
<!-- Filler text to show for no time logs.-->
@if (Model.Any())
{
    <div class="row text-center justify-content-center">
        <div class="col-6 mb-5">
            <strong>Top 5 Job Numbers by Hours Spent</strong>
            <canvas id="timeSpentChart"></canvas>
        </div>
        <!-- Update when ChartJsCore is updated -->
        <div class="col-12" style="display: none;">
            <strong>Weekly Summary</strong>
            <canvas id="weekBarChart"></canvas>
        </div>
    </div>

}

@{
    // Workaround for getting scripts in partial view - if controller returns
    // a valid chart in the ViewData, we draw it.
    Chart timeSpentChart = (Chart)ViewData["TimeSpentChart"];
    if (timeSpentChart != null)
    {
        <script>
            @Html.Raw(timeSpentChart.CreateChartCode("timeSpentChart"))
        </script>
    }

    Chart weekBarChart = (Chart)ViewData["WeekBarChart"];
    if (weekBarChart != null)
    {
        <script>
            @Html.Raw(weekBarChart.CreateChartCode("weekBarChart"))
        </script>
    }

}