@model IndexViewModel
<!-- Time log list and stats partial view -->
<div class="card main-log-card">
    <div class="row card-header">
        <div class="col-sm-9 p-0">
            <button class="btn btn-secondary" type="button"
                    data-bs-toggle="collapse" data-bs-target="#filters"
                    aria-expanded="false" aria-controls="filters">
                Filters
            </button>
            <div class="collapse" id="filters">
                <div class="row my-2">
                    <!-- Date picker containers (slightly off, but eh, might fix later) -->
                    <div id="dayContainer"></div>
                    <div id="weekContainer"></div>
                    <div id="monthContainer"></div>
                    <div id="rangeStartContainer"></div>
                    <div id="rangeEndContainer"></div>

                    <!-- Select which date picker to use. -->
                    <div class="input-group d-inline-flex align-items-center w-auto">
                        <label class="input-group-text" for="dateOption">Time frame</label>
                        <select id="dateOption" class="form-select me-2">
                            <option>Day</option>
                            <option>Week</option>
                            <option>Month</option>
                            <option>All</option>
                            <option>Custom range</option>
                        </select>
                    </div>

                    <!-- Date pickers -->
                    <div class="input-group d-inline-flex align-items-center
                             flex-nowrap w-auto mt-2 mt-md-0">
                        <button type="button" class="btn date-prev shadow-none">
                            <i class="fas fa-arrow-left"></i>
                        </button>

                        <input type="text"
                               class="form-control date-picker day-picker text-center">
                        <input type="text"
                               class="form-control date-picker week-picker text-center">
                        <input type="text"
                               class="form-control date-picker month-picker text-center">
                        <div id="dateRangePicker" class="input-group input-daterange">
                            <input type="text" class="form-control range-picker-start text-center">
                            <div class="input-group-text">to</div>
                            <input type="text" class="form-control ranger-picker-end text-center">
                        </div>

                        <button type="button" class="btn date-next shadow-none">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <!-- TODO: implement filters later
                    <div class="row">
                    <!-- Select which fields to filter by.
                    <div class="input-group d-inline-flex align-items-center w-auto">
                        <label class="input-group-text" for="fieldOption">Filter by</label>
                        <select id="fieldOption" class="form-select me-2">
                            <option>Job number</option>
                            <option>Notes</option>
                            <option>Research and design</option>
                        </select>

                        <!-- Search fields.
                        <input type="text"
                               class="form-control job-number-picker">
                        <input type="text"
                               class="form-control notes-picker">
                        <div class="form-check">
                            <input type="checkbox"
                                   class="form-check-input rd-picker ms-1" />
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>

        <!-- TODO: implement export
        <div class="col-sm-3 p-0">
            <button class="btn btn-primary float-sm-end mt-2 mt-sm-0">
                <i class="bi bi-download"></i>
                Export Logs
            </button>
        </div>
        -->
    </div>
    <div class="card-body">
        <div class="row">
            <!-- Logs display -->
            <div id="indexLogsView" class="col-lg-4 p-0 scroll">
                @await Html.PartialAsync("IndexLogs", Model.TimeLogs)
            </div>
            <!-- Stats display -->
            <div id="indexStatsView" class="col-lg-8">
                @await Html.PartialAsync("IndexStats", Model.TimeLogs)
            </div>
        </div>
    </div>
</div>