@{
    ViewData["Title"] = "Logs";
}

<div class="col">
    <div class="row mx-auto">
        <div class="partial-header px-0 mb-3">
            Timers
            <button id="addTimerBtn"
                    class="btn header-circle-btn"
                    onclick="addTimer()">
                <i class="bi bi-plus-lg"></i>
            </button>
        </div>

        <div id="timersRow">
        </div>
    </div>

    <!-- Hidden on mobile - use standalone IndexInfo from navbar there. -->
    <div class="row mx-auto d-none d-sm-block">
        <partial name="_IndexInfo" />
    </div>
</div>

<!-- Modals -->
<partial name="_IndexModals" />

<!-- Hidden field for playing intro tour. -->
<input id="playIntro" type="hidden" value=@TempData["FirstLoginFlag"] />

@section Scripts
{
    <!-- QR code scanner -->
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}