@model IndexViewModel

@{
    ViewData["Title"] = "Logs";
}

<div class="row">
    <!-- Time clock and options -->
    <div class="col-md-3">
        <!-- Link to action cards -->
        <a id="actionCardAdd" class="card-parent" data-bs-toggle="modal" data-bs-target="#timeLogSubmitModal">
            <div class="card action-card action-card-add">
                <div class="card-body">
                    <span class="action-card-title">Add Log Manually</span>
                </div>
            </div>
        </a>
        <!-- Time log list and stats (show on mobile) -->
        <a id="actionCardLogs" class="card-parent d-block d-md-none" asp-action="IndexInfo">
            <div class="card action-card action-card-view">
                <div class="card-body">
                    <span class="action-card-title">View Logs</span>
                </div>
            </div>
        </a>

        <div id="timeCard" class="card border-dark my-3">
            <div class="card-body time-card text-center">
                <div class="col time-col">
                    <div class="collapse multi-collapse show" id="jobStatusCollapse">
                        <h4>No log currently active</h4>
                    </div>
                    <strong id="TimeLog_JobNum_Display"></strong>
                    <div class="collapse multi-collapse" id="jobTimeCollapse">
                        <div id="jobTime" class="time-display">00:00:00</div>
                    </div>
                </div>

                <div class="btn-toolbar justify-content-center">
                    <button id="startBtn" type="button" class="btn btn-primary btn-lg mx-1"
                            onclick="jobTimer.start()" aria-expanded="true"
                            aria-controls="jobStatusCollapse jobTimeCollapse">
                        Start
                    </button>
                    <button id="stopBtn" type="button" class="btn btn-secondary btn-lg mx-1"
                            onclick="jobTimer.stop()" style="display: none;">
                        Pause
                    </button>
                    <button id="resetBtn" type="button" class="btn btn-danger btn-lg mx-1"
                            onclick="jobTimer.reset()" style="display: none;"
                            aria-expanded="false" aria-controls="jobStatusCollapse jobTimeCollapse">
                        Reset
                    </button>
                    <button id="saveBtn" type="button" class="btn btn-primary btn-lg mx-1"
                            onclick="jobTimer.save()" style="display: none;">
                        Save
                    </button>
                </div>

                <!-- Only show QR code scanner on mobile (Disable for now)
                <div class="col d-md-none justify-content-center my-2 p-0">
                    <button id="scannerBtn" type="button" class="btn btn-primary btn-lg"
                            onclick="toggleScanner()">
                        Start with QR code
                    </button>
                </div>
                -->
            </div>
        </div>

        <!-- TODO: replace main timer above with just add? -->
        <a class="card-parent">
            <div id="timeCard2" class="card time-card-add my-3">
                <div class="card-body time-card d-flex
                     align-items-center justify-content-center">
                    <h4>
                        <i class="fas fa-plus"></i>
                        Add New Timer
                    </h4>
                </div>
            </div>
        </a>

        <!-- Timer settings menu -->
        <div class="dropdown">
            <button id="timerOptionsBtn" type="button"
                    class="btn btn-secondary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-cog"></i>
                Timer Options
                <i class="bi bi-caret-down-fill small"></i>
            </button>
            <div class="dropdown-menu p-3" aria-labelledby="timerOptionsBtn">
                <span class="font-weight-bold">Multiple timers running allowed:</span>
                <hr class="dropdown-divider">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        No, only one at a time
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- Time log list and stats (show on desktop) -->
    <div class="col-md-9 mt-4 mt-md-0 d-none d-md-block">
        <partial name="_IndexInfo" />
    </div>

    <!-- Modals -->
    <partial name="_IndexModals" />
</div>

@section Scripts
{
    <!-- QR code scanner -->
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}