@model IndexViewModel

@{
    ViewData["Title"] = "Logs";
}

<div>
    <div class="row">
        <!-- Time clock and options -->
        <div class="col-md-3">
            <h2 class="display-4">Hi, Test!</h2>
            <h3 id="time">@DateTime.Now</h3>
            <hr style="border: none; height: 2px; background-color: #000;" />

            <div id="timeCard" class="card border-dark my-2 align-items-center">
                <div class="card-body time-card text-center">
                    <div class="col time-col justify-content-center">
                        <div class="collapse multi-collapse show" id="jobStatusCollapse">
                            <h4>No log currently active</h4>
                        </div>
                        <strong id="TimeLog_JobNum_Display"></strong>
                        <div class="collapse multi-collapse" id="jobTimeCollapse">
                            <div id="jobTime" class="time-display">00:00:00</div>
                        </div>
                    </div>

                    <div class="btn-toolbar justify-content-center">
                        <button id="startBtn" type="button" class="btn btn-primary btn-lg mx-1"
                                onclick="jobTimer.start()" aria-expanded="true"
                                aria-controls="jobStatusCollapse jobTimeCollapse">
                            Start
                        </button>
                        <button id="stopBtn" type="button" class="btn btn-secondary btn-lg mx-1"
                                onclick="jobTimer.stop()" style="display: none;">
                            Pause
                        </button>
                        <button id="resetBtn" type="button" class="btn btn-danger btn-lg mx-1"
                                onclick="jobTimer.reset()" style="display: none;"
                                aria-expanded="false" aria-controls="jobStatusCollapse jobTimeCollapse">
                            Reset
                        </button>
                        <button id="saveBtn" type="button" class="btn btn-primary btn-lg mx-1"
                                onclick="jobTimer.save()" style="display: none;">
                            Save
                        </button>
                    </div>

                    <!-- Only show QR code scanner on mobile (Disable for now)
                    <div class="col d-md-none justify-content-center my-2 p-0">
                        <button id="scannerBtn" type="button" class="btn btn-primary btn-lg"
                                onclick="toggleScanner()">
                            Start with QR code
                        </button>
                    </div>
                    -->
                </div>
            </div>

            <a id="actionCardAdd" class="card-parent" data-bs-toggle="modal" data-bs-target="#timeLogSubmitModal">
                <div class="card action-card action-card-add">
                    <div class="card-body">
                        <span class="action-card-title">Add Log Manually</span>
                    </div>
                </div>
            </a>
            <!-- Time log list and stats (show on mobile) -->
            <a id="actionCardLogs" class="card-parent d-block d-md-none" asp-action="IndexInfo">
                <div class="card action-card action-card-view">
                    <div class="card-body">
                        <span class="action-card-title">View Logs</span>
                    </div>
                </div>
            </a>
        </div>

        <!-- Time log list and stats (show on desktop) -->
        <div class="col-md-9 mt-4 mt-md-0 d-none d-md-block">
            <partial name="IndexInfoPartial" />
        </div>

        <!-- Modals -->
        <div id="indexModals">
            <!-- QR code -->
            <div class="modal modal-tall fade" id="qrScanModal" tabindex="-1" role="dialog" aria-labelledby="qrScanModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="qrScanModalLabel">Scan a ASC job QR code</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" onclick="toggleScanner()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="qr-reader"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Create time log -->
            <div class="modal fade" id="timeLogSubmitModal" tabindex="-1" role="dialog" aria-labelledby="timeLogSubmitModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="timeLogSubmitModalLabel">Add a new time log</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="timeLogForm" asp-controller="TimeLog" asp-action="Create" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-3 mb-3">
                                    <!-- TODO: autogenerate this from current user -->
                                    <label asp-for="TimeLog.EmpId" class="form-label"></label>
                                    <input asp-for="TimeLog.EmpId" class="form-control" />
                                    <span asp-validation-for="TimeLog.EmpId" class="text-danger"></span>
                                </div>
                                <div class="col-6 mb-3">
                                    <label asp-for="TimeLog.JobNum" class="form-label">Job Number (optional)</label>
                                    <input asp-for="TimeLog.JobNum" class="form-control" />
                                    <span asp-validation-for="TimeLog.JobNum" class="text-danger"></span>
                                </div>
                                <div class="col-6 mb-3">
                                    <label asp-for="TimeLog.Date" class="form-label"></label>
                                    <input asp-for="TimeLog.Date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="TimeLog.Date" class="text-danger"></span>
                                </div>
                                <div class="col-6 mb-3">
                                    <label asp-for="TimeLog.Time" class="form-label"></label>
                                    <div class="input-group d-inline-flex">
                                        <input id="timeHours" class="form-control" type="number" min="0"
                                               placeholder="Hours" name="timeHours" runat="server" />
                                        <h3 class="mx-1">:</h3>
                                        <input id="timeMinutes" class="form-control" type="number" min="0" max="59"
                                               placeholder="Minutes" name="timeMinutes" runat="server" />
                                    </div>
                                    <span asp-validation-for="TimeLog.Time" class="text-danger"></span>
                                </div>
                                <div class="col mb-3">
                                    <label asp-for="TimeLog.Notes" class="form-label">Notes (optional)</label>
                                    <input asp-for="TimeLog.Notes" class="form-control"
                                           placeholder="A short description of what you've been working on?" />
                                    <span asp-validation-for="TimeLog.Notes" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <input asp-for="TimeLog.Rd" class="form-check-input" type="checkbox" />
                                    <label asp-for="TimeLog.Rd" class="form-check-label">Research and Development tax credit eligible</label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="timeLogFormSubmit" type="submit" value="Create" form="timeLogForm" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit time log -->
            <div class="modal fade" id="timeLogEditModal" tabindex="-1" role="dialog" aria-labelledby="timeLogEditModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="timeLogEditModalLabel">Edit this time log</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editForm" asp-controller="TimeLog" asp-action="Edit" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <!-- TODO: fill this -->
                                <input type="hidden" id="TimeLogEditId" asp-for="TimeLog.Id" />
                                <input type="hidden" id="TimeLogEditTime" asp-for="TimeLog.Time" />
                                <div class="col-6 mb-3">
                                    <label asp-for="TimeLog.JobNum" class="form-label">Job Number (optional)</label>
                                    <input id="TimeLogEditJobNum" asp-for="TimeLog.JobNum" class="form-control" />
                                    <span asp-validation-for="TimeLog.JobNum" class="text-danger"></span>
                                </div>
                                <div class="col-6 mb-3">
                                    <label asp-for="TimeLog.Date" class="form-label"></label>
                                    <input id="TimeLogEditDate" asp-for="TimeLog.Date" class="form-control" />
                                    <span asp-validation-for="TimeLog.Date" class="text-danger"></span>
                                </div>
                                <div class="col-6 mb-3">
                                    <!-- TODO: fill these -->
                                    <label asp-for="TimeLog.Time" class="form-label"></label>
                                    <div class="input-group d-inline-flex">
                                        <input id="timeHoursEdit" class="form-control" type="number" min="0"
                                               placeholder="Hours" name="timeHours" runat="server" />
                                        <h3 class="mx-1">:</h3>
                                        <input id="timeMinutesEdit" class="form-control" type="number" min="0" max="59"
                                               placeholder="Minutes" name="timeMinutes" runat="server" />
                                    </div>
                                    <span asp-validation-for="TimeLog.Time" class="text-danger"></span>
                                </div>
                                <div class="col mb-3">
                                    <label asp-for="TimeLog.Notes" class="form-label">Notes (optional)</label>
                                    <input id="TimeLogEditNotes" asp-for="TimeLog.Notes" class="form-control"
                                           placeholder="A short description of what you've been working on?" />
                                    <span asp-validation-for="TimeLog.Notes" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <input id="TimeLogEditRd" asp-for="TimeLog.Rd" class="form-check-input" type="checkbox" />
                                    <label asp-for="TimeLog.Rd" class="form-check-label">Research and Development tax credit eligible</label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="timeLogEditFormSubmit" type="submit" form="editForm" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete time log -->
            <div class="modal fade" id="timeLogDeleteModal" tabindex="-1" role="dialog" aria-labelledby="timeLogDeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="timeLogDeleteModalLabel">Delete this time log?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form id="deleteForm" asp-controller="TimeLog" asp-action="Delete" method="post">
                                <input id="TimeLog_Id" name="TimeLog.Id" data-val="true" data-val-required="The ID field is required." type="hidden" />
                                <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Yes, delete it</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}