/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Expand body to fill page */
html, body {
    margin: 0;
    height: 100%;
}

.main {
    height: 100%;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }

/* Removes Bootstrap's default outlining around buttons on click. */
.btn:focus {
    box-shadow: none !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Custom text styles. */
.partial-header {
    font-size: 2.5rem;
    font-weight: 600;
}

.header-circle-btn {
    background: var(--bs-body-color);
    height: 50px;
    width: 50px;
    margin: 0 0 1rem;
    border-radius: 50%;
}

    .header-circle-btn:hover {
        background: #4b4f55;
    }

    .header-circle-btn i {
        height: 20px;
        width: 20px;
        color: #fff;
    }

/* Sidebar styling. */
.sidebar {
    position: fixed;
    z-index: 10;
}

@media only screen and (min-width: 576px) {
    .sidebar {
        height: 100vh !important;
    }
}

.hover-click {
    cursor: pointer;
}

.nav-link {
    color: #EFF0F0;
    display: inline-block;
    position: relative;
}

    .nav-link:focus, .nav-link:hover {
        color: #93A3A3;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .nav-link.text-black::after {
        background-color: black;
    }

.dropdown-item:active {
    color: black;
}

.dropdown-item:hover {
    background-color: #e8e8e8;
}

.dropdown-toggle::after {
    margin-left: -.1em;
    border: 0;
}

#changePasswordDropdownItem {
    text-decoration: none;
    color: #dee2e6;
}

/* Card styling */
.card {
    background: #fff;
    background: rgba(255,255,255,0.8);
    border: 0;
    border-radius: 8px;
}

/* Timer stuff */
#timersRow {
    min-height: 212px;
    max-height: 425px;
    overflow-x: auto;
}

    #timersRow > .col-xs-4 {
        display: inline-grid;
        float: none;
    }

.timer-card {
    border: 0;
    margin: 0.25rem 0 0.5rem 1rem;
    padding: 0.25rem 0.25rem;
    height: 200px;
    /* TODO: change width to 100% for mobile? */
    width: 250px;
}

.timer-card-add:hover {
    border: 2px solid #343a40;
    opacity: 1;
    transition: border linear 1s;
}

.timer-field {
    max-width: 200px;
    margin-bottom: 0.25rem;
    display: block;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #ddd;
    transition: border 200ms ease-out;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
}

    .timer-field:focus {
        border-color: #000;
    }

.timer-header-col {
    min-height: 50px;
}

.time-display {
    font-size: 2rem;
    font-weight: 600;
}

.card-parent {
    color: #212529;
    cursor: pointer;
    text-decoration: none;
}

    .card-parent + .card-parent {
        margin-top: 0.5rem;
    }

    .card-parent:hover {
        color: #212529;
        text-decoration: none;
    }

        .card-parent:hover .card {
            transition: all 0.3s ease-out;
            box-shadow: 0 4px 8px rgba(38, 38, 38, 0.25);
            top: -4px;
            background-color: white;
        }

/* Modal styling */
.modal-footer {
    background: hsl(0, 0%, 92%); /* hue, saturation, lightness */
}

input[type=checkbox] {
    margin-top: .4rem;
}

/* Form styling */
#timeFormSeparator {
    margin: 0;
}

label.form-label {
    font-weight: 600;
}

#notes-col {
    width: 40%;
}

tr:hover {
    background-color: #f8f8f8;
}

.main-log-card-header {
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}

.main-log-card {
    padding: 0 12px;
}

.log-card {
    border: 2px solid #a9a9a9;
    border-radius: 4px;
    margin-top: 0.5rem;
}

.log-main {
    font-size: 1.2rem;
    font-weight: 600;
}

.log-color {
    border-radius: 25px;
    margin: 0 4px 2px 0;
    opacity: 1;
}

/* Copy of log color, but color set from controller instead */
.log-color-top {
    border-radius: 25px;
    margin: 0 4px 2px 0;
    opacity: 1;
}

.a-sort {
    color: black;
    display: inline-block;
    position: relative;
}

    .a-sort:hover {
        color: black;
        text-decoration: none;
    }

    .a-sort::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .a-sort:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

.scroll {
    max-height: 250px;
    overflow-y: auto;
}

.stats-pie-card {
    padding: 1.5rem 0.5rem;
}

/* Time logs list is longer on desktop. */
@media only screen and (min-width: 768px) {
    .scroll {
        max-height: 600px;
    }
}

.scroll-log-label {
    margin: 0.5rem 0;
}

    .scroll-log-label i {
        font-size: 1rem;
        font-weight: 900;
    }

    .scroll-log-label span {
        font-size: 1.25rem
    }

/* Dropdown menu opening animation. */
.dropdown-mobile .dropdown-menu {
    -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) alternate both;
    animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) alternate both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

/* QR code scanner */
.modal-tall .modal-dialog {
    height: 100%;
}

.modal-tall .modal-content {
    height: 100%;
}

#qr-reader {
    height: 100%;
}

/* Datepicker */
.datepicker {
    top: 42px !important;
    left: 50px !important;
}

    /* Week picker styling */
    .datepicker td, .datepicker th {
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
    }

    .datepicker table tr td.active {
        background: #3297fd;
        border-color: #3297fd;
    }

    .datepicker .datepicker-days tr td.active {
        background: #3297fd !important;
        border-radius: 0;
    }

    .datepicker .datepicker-months span.active {
        background: #3297fd !important;
    }

#weekContainer .datepicker .datepicker-days tr td.active ~ td,
#weekContainer .datepicker .datepicker-days tr td.active {
    color: #fff;
    background-color: #3297fd !important;
    border-radius: 0;
}

#weekContainer .datepicker .datepicker-days tr:hover td,
#weekContainer .datepicker table tr td.day:hover,
#weekContainer .datepicker table tr td.focused {
    background: #e8e8e8;
    border-radius: 0;
}

#weekContainer .datepicker table tr td.day.focused, .datepicker table tr td.day:hover {
    background: #c8c8c8 !important;
}

/* Login card styling*/
.login-card {
    align-self: center;
    margin: 5% 5%;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 10px 30px 0 #aca8a8;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;
}

/* Below modified from https://www.bootstrapdash.com/demo/login-template-free-2/ */
.brand-wrapper i {
    font-size: 2.5rem;
    margin: 0 0.25rem 1rem 0;
}

.brand-wrapper h1 {
    display: inline;
}

.login-card-img {
    border-radius: 0;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.login-card .card-body {
    padding: 6rem 2rem 4rem 4rem;
}

@media (max-width: 422px) {
    .login-card .card-body {
        padding: 35px 24px;
    }
}

.login-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}

.login-card .form-control {
    border: 1px solid #d5dae2;
    margin-bottom: 20px;
    min-height: 45px;
    font-weight: normal;
}

    .login-card .form-control::-webkit-input-placeholder {
        color: #919aa3;
    }

    .login-card .form-control:-moz-placeholder {
        color: #919aa3;
    }

    .login-card .form-control:-ms-input-placeholder {
        color: #919aa3;
    }

    .login-card .form-control:-ms-input-placeholder {
        color: #919aa3;
    }

    .login-card .form-control::placeholder {
        color: #919aa3;
    }

.login-card .login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
    width: 100%;
}

    .login-card .login-btn:hover {
        border: 1px solid #000;
        background-color: transparent;
        color: #000;
    }

.login-card .account-options a {
    font-size: 1.25rem;
    color: #919aa3;
}

/* intro.js styling */
.bootstrapTooltip .introjs-skipbutton {
    text-decoration: none;
}