<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASC Time Tracker</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <!-- Navbar only visible on desktop -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3 d-none d-md-block">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ASC Time Tracker</a>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer">
        <!-- Bottom navbar only visible on mobile -->
        <nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom justify-content-between d-md-none">
            <div class="col-2 p-0">
                <a class="nav-link icon-link" alt="Home" asp-area="" asp-page="/Index">
                    <i class="bi bi-house-fill"></i>
                </a>
            </div>
            <!-- Manager only -->
            <div class="col-2 p-0">
                <a class="nav-link icon-link" alt="Home" asp-area="" asp-page="/Privacy">
                    <i class="bi bi-tag"></i>
                </a>
            </div>
            <div class="col-2 p-0">
                <a class="nav-link icon-link" alt="Home" asp-area="" asp-page="/Index">
                    <i class="bi bi-stopwatch"></i>
                </a>
            </div>
            <!-- Manager only -->
            <div class="col-2 p-0">
                <a class="nav-link icon-link" alt="Home" asp-area="" asp-page="/Privacy">
                    <i class="bi bi-person-lines-fill"></i>
                </a>
            </div>
            <div class="col-2 p-0">
                <a class="nav-link icon-link" alt="Home" asp-area="" asp-page="/Privacy">
                    <i class="bi bi-list"></i>
                </a>
            </div>
        </nav>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>