@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Prevent site from being indexed, since only for internal use. -->
    <meta name="robots" content="noindex">

    <title>@ViewData["Title"] - ASC Time Tracker</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/img-styles.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bundle.css" inline />
    </environment>

    <!-- Date picker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />

    <!-- Intro tour -->
    <link rel="stylesheet"
          href="https://unpkg.com/intro.js/minified/introjs.min.css" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script src="https://kit.fontawesome.com/d1b8b99eb8.js" crossorigin="anonymous"></script>
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="container-fluid">
            <div class="row">
                <div class="sidebar col-12 col-sm-4 col-md-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex">
                    <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-3 text-white">
                        <!-- Toggle sidebar
                        <a class="d-none d-sm-inline align-self-end text-white hover-click">
                            <i class="fs-4 bi bi-arrow-left"></i>
                        </a> -->

                        <a href="/" class="d-flex align-items-center pb-sm-3 mt-0 mt-sm-4 mb-md-0 me-md-auto text-white text-decoration-none">
                            <i class="fas fa-clock fs-4 me-2"></i>
                            <span class="fs-5 d-none d-sm-inline">Time Tracker</span>
                        </a>

                        <!-- Navigation items -->
                        <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1
                        flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0
                        justify-content-center align-items-center align-items-sm-start">
                            <li class="nav-item">
                                <a href="/" class="nav-link px-sm-0 px-2">
                                    <i class="fs-5 bi bi-house-fill"></i>
                                    <span class="ms-1 d-none d-sm-inline">Home</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link d-block d-md-none px-sm-0 px-2"
                                   asp-controller="TimeLog"
                                   asp-action="IndexInfo">
                                    <i class="fs-5 bi bi-table"></i>
                                    <span class="ms-1 d-none d-sm-inline">Logs</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link px-sm-0 px-2 hover-click"
                                   data-bs-toggle="modal" data-bs-target="#timeLogSubmitModal">
                                    <i class="fs-5 bi bi-plus-lg"></i>
                                    <span class="ms-1 d-none d-sm-inline">Add Log</span>
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a id="navbarDropdownMenuLink" href="#"
                                   class="nav-link dropdown-toggle px-sm-0 px-2"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fs-5 bi bi-info-lg"></i>
                                    <span class="ms-1 d-none d-sm-inline">Help</span>
                                    <i class="bi bi-caret-down-fill small d-none d-sm-inline"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark shadow"
                                     aria-labelledby="navbarDropdownMenuLink">
                                    <!-- TODO: finish guide -->
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Guide">User Guide</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="About">About</a>
                                </div>
                            </li>
                        </ul>

                        <!-- User info -->
                        <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                            <a id="dropdownUserMenu" href="#" class="d-flex align-items-center
                           text-white text-decoration-none dropdown-toggle"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-4 bi bi-person-circle"></i>
                                <span class="ms-2 me-1 d-none d-sm-inline">Account</span>
                                <i class="bi bi-caret-up-fill small d-none d-sm-inline"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark
                            dropdown-menu-end shadow"
                                aria-labelledby="dropdownUserMenu">
                                <partial name="_LoginPartial" />
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-8 col-md-9 col-xl-10
                 offset-0 offset-sm-4 offset-md-3 offset-xl-2
                 mt-5 mt-sm-0
                 d-flex flex-column">
                    <main role="main" class="mx-3 my-4">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>

        <!-- Modals -->
        <partial name="../TimeLog/_IndexModals" />
    }
    else
    {
        <!-- Display for login. -->
        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Charting
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>

    <!-- Intro tour -->
    <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>

    <!-- Don't run scripts if user isn't signed in-->
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- Use scripts in development so we can see the results of changes without rebuilding. -->
        <environment include="Development">
            <script src="~/js/submit/deleteTimeLog.js"></script>
            <script src="~/js/submit/editTimeLog.js"></script>

            <script src="~/js/time/currTime.js"></script>
            <script src="~/js/time/logFilter.js"></script>
            <script src="~/js/time/timer.js"></script>
            <script src="~/js/time/timerFunctions.js"></script>

            <script src="~/js/ui/introTour.js"></script>
            <script src="~/js/ui/jobColor.js"></script>
            <script src="~/js/ui/qrScanner.js"></script>

            <script src="~/js/pageLoad.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/bundle.js" inline></script>
        </environment>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>