@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Prevent site from being indexed, since only for internal use. -->
    <meta name="robots" content="noindex">

    <title>@ViewData["Title"] - ASC Time Tracker</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/img-styles.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bundle.css" inline />
    </environment>

    <!-- Date picker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/d1b8b99eb8.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Hide navbar if not logged in. -->
    @if (SignInManager.IsSignedIn(User))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="TimeLog" asp-action="MainIndex">ASC Time Tracker</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="TimeLog" asp-action="MainIndex">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light d-block d-md-none" asp-controller="TimeLog" asp-action="IndexInfo">Logs</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Help
                                    <i class="bi bi-caret-down-fill small"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Guide">User Guide</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="About">About</a>
                                </div>
                            </li>
                        </ul>
                        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                        {
                            <span class="text-light mx-2">Role: Manager</span>
                        }
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
    }

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Charting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>

    <!-- Don't run scripts if user isn't signed in-->
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- Use scripts in development so we can see the results of changes without rebuilding. -->
        <environment include="Development">
            <script src="~/js/submit/deleteTimeLog.js"></script>
            <script src="~/js/submit/editTimeLog.js"></script> <!-- Might need for edit modal? -->

            <script src="~/js/time/currTime.js"></script>
            <script src="~/js/time/logFilter.js"></script>
            <script src="~/js/time/timer.js"></script>

            <script src="~/js/ui/jobColor.js"></script>
            <script src="~/js/ui/qrScanner.js"></script>

            <script src="~/js/pageLoad.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/bundle.js" inline></script>
        </environment>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>