@page
@model DashboardModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Hi, Test!</h1>
    <h4 id="time">@DateTime.Now</h4>
    <hr style="border: none; height: 2px; background-color: #000;" />
    <div class="row">
        <div class="col-md-4">
            <div class="card border-dark mt-2 mb-4 align-items-center">
                <div class="card-body time-card text-center">
                    <div class="col time-col justify-content-center">
                        <div class="collapse multi-collapse show" id="jobStatusCollapse">
                            <h4>No log currently active</h4>
                        </div>
                        <div class="collapse multi-collapse" id="jobTimeCollapse">
                            <h2 id="jobTime">00:00:00</h2>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <button id="startBtn" type="button" class="btn btn-success btn-lg mx-1"
                                onclick="jobTimer.start()" aria-expanded="true"
                                aria-controls="jobStatusCollapse jobTimeCollapse">
                            Start
                        </button>
                        <button id="stopBtn" type="button" class="btn btn-secondary btn-lg mx-1"
                                onclick="jobTimer.stop()" style="display:none;">
                            Stop
                        </button>
                        <button id="resetBtn" type="button" class="btn btn-danger btn-lg mx-1"
                                onclick="jobTimer.reset()" style="display:none;"
                                aria-expanded="false" aria-controls="jobStatusCollapse jobTimeCollapse">
                            Reset
                        </button>
                    </div>

                    <form>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <a class="action-card-parent" data-toggle="modal" data-target="#exampleModal">
                <div class="card action-card action-card-add my-2">
                    <div class="card-body">
                        <h4 class="action-card-title">Add Log</h4>
                    </div>
                </div>
            </a>
            <a class="action-card-parent" asp-area="" asp-page="/TimeLogs/Index">
                <div class="card action-card action-card-view mb-2">
                    <div class="card-body">
                        <h4 class="action-card-title">View Logs</h4>
                    </div>
                </div>
            </a>
        </div>

        <!-- Modals -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add a new time log</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="timeLogForm" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="TimeLog.EMPID" class="control-label"></label>
                                <input asp-for="TimeLog.EMPID" class="form-control" />
                                <span asp-validation-for="TimeLog.EMPID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TimeLog.JOBNUM" class="control-label"></label>
                                <input asp-for="TimeLog.JOBNUM" class="form-control" />
                                <span asp-validation-for="TimeLog.JOBNUM" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TimeLog.DATE" class="control-label"></label>
                                <input asp-for="TimeLog.DATE" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                <span asp-validation-for="TimeLog.DATE" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TimeLog.TIME" class="control-label"></label>
                                <input asp-for="TimeLog.TIME" class="form-control" />
                                <span asp-validation-for="TimeLog.TIME" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TimeLog.NOTES" class="control-label"></label>
                                <input asp-for="TimeLog.NOTES" class="form-control" />
                                <span asp-validation-for="TimeLog.NOTES" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input asp-for="TimeLog.RD" class="form-check-input" type="checkbox" />
                                    <label asp-for="TimeLog.RD" class="form-check-label">Research and Development tax credit eligible</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="timeLogFormSubmit" type="submit" value="Create" form="timeLogForm" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-danger" id="testButton">Test</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/currTime.js"></script>
    <script src="~/js/timer.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}