@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Hi, Test!</h1>
    <h4 id="time">@DateTime.Now</h4>
    <hr style="border: none; height: 2px; background-color: #000;" />
    <div class="row">
        <div class="col-md-4">
            <div class="card border-dark mt-2 mb-4 align-items-center">
                <div class="card-body time-card text-center">
                    <div class="col time-col justify-content-center">
                        <div class="collapse multi-collapse show" id="jobStatusCollapse">
                            <h4>No log currently active</h4>
                        </div>
                        <div class="collapse multi-collapse" id="jobTimeCollapse">
                            <h2 id="jobTime">00:00:00</h2>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <button id="startBtn" type="button" class="btn btn-success btn-lg mx-1"
                                onclick="jobTimer.start()" aria-expanded="true"
                                aria-controls="jobStatusCollapse jobTimeCollapse">
                            Start
                        </button>
                        <button id="stopBtn" type="button" class="btn btn-secondary btn-lg mx-1"
                                onclick="jobTimer.stop()" style="display:none;">
                            Stop
                        </button>
                        <button id="resetBtn" type="button" class="btn btn-danger btn-lg mx-1"
                                onclick="jobTimer.reset()" style="display:none;"
                                aria-expanded="false" aria-controls="jobStatusCollapse jobTimeCollapse">
                            Reset
                        </button>
                    </div>

                    <form>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <a class="action-card-parent" asp-area="" asp-page="/Privacy">
                <div class="card action-card action-card-add my-2">
                    <div class="card-body">
                        <h4>Add Log</h4>
                    </div>
                </div>
            </a>
            <a class="action-card-parent" asp-area="" asp-page="/Privacy">
                <div class="card action-card action-card-view mb-2">
                    <div class="card-body">
                        <h4>View Logs</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>

@section Scripts
{
    <script src="~/js/currTime.js"></script>
    <script src="~/js/timer.js"></script>
}